<header>
  <h1>Rotten Trails</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if loggedIn}}
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
    <div class="menu-icon">&#9776;</div> 
  </nav>
</header>
