<header>
  <div id="header" class = "p-3 shadow-lg mb-2 bg-success text-white">
    <h1>Rotten Trails</h1>
  </div>
  <nav>
   <ul class="nav justify-content-center fw-bold">
      <li><a class="nav-link text-success" href="/">Home</a></li>
      {{#if loggedIn}}
         <button id="logout" class="nav-link text-success">Logout</button>
      {{else}}
        <li><a class="nav-link text-success" href="/login">Login</a></li>
      {{/if}}
    </ul>
    <div class="menu-icon">&#9776;</div> 
  </nav>
</header>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
