{{#if loggedIn}}
  <!-- Render trails when logged in -->
  {{#each trails}}
    <!-- Render trail information -->
  {{/each}}
{{else}}
  <!-- Display login message when not logged in -->
  <p>Please log in to view trails.</p>
{{/if}}